* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: #3e3e3f;
    color: #f8f8f8;
    /* font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal; */
}

.mg-top-60 {
    margin-top: 60px;
}

.white-color {
    color: #f8f8f8;
}

.bg-color-box {
    background: #323232;
}

button,
input {
    outline: none;
    border: none;
}

a [href] {
    text-decoration: none;
}